:root {
  --dark-blue: #030742;
  --darkest-purple: #11002c;
  --not-selected: #2e0275;
  --disabled: hsl(263, 97%, 23%);
  --selected: #ff6f61ff;
  --light-purple: hsl(263, 100%, 88%);
  --dark-purple: #242582;
  --purple: #2f2fa2;
  --dark-lavendar: #553d67;
  --lavendar: #99738e;
  --pink: #f64c72;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: var(--darkest-purple);
  color: white;
}

.element--hide {
  position: fixed;
  opacity: 0;
}

.cont {
  display: flex;
}

.cont--direction-col {
  flex-direction: column;
}

.cont--align-center {
  align-items: center;
}

.cont--justify-center {
  justify-content: center;
}

.modal__character {
  font-size: 50px;
}

.App {
  text-align: center;
}

.btn--hidden {
  border: none;
  background: transparent;
  cursor: pointer;
}
