.create-emoji__heading {
  color: white;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.character__heading {
  color: white;
  font-weight: bolder;
  letter-spacing: 2.5px;
}

.create-emoji__btn {
  border: none;
  background: var(--not-selected);
  color: white;
  padding: 10px;
  border-radius: 3px;
}

.create-emoji__btn:hover {
  background: var(--lavendar);
}

.create-emoji__btn--disabled {
  background: var(--darkest-purple);
  color: rgb(119, 116, 116);
}

.create-emoji__btn--disabled:hover {
  background: none;
  cursor: not-allowed;
}

.create-emoji__input {
  padding: 10px;
  margin-bottom: 15px;
  background: var(--darkest-purple);
  text-align: center;
  font-size: 16px;
  color: white;
  border: unset;
  border-bottom: 1px soild white;
}
